@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
@import url('https://fonts.googleapis.com/css?family=Charm');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Acme');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

body
{ 
    margin:0; 
    font:normal 75% Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
} 

.container
{
    background-image: url('back.png');
    background-size: contain;
}

.container_leaderboard
{
    height: 100vh;
    width: 100vw;
    color: white;
}

::-webkit-scrollbar 
{ 
    display: none;
}

canvas
{ 
    display: block; 
} 

/* ---- particles.js container ---- */ 
#particles-js
{ 
    position:absolute; 
    width: 100%; 
    height: 108%; 
    background-color: white; 
    background-image: url("background.jpg"); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: 50% 50%;
    z-index: -1; 
}

.topbar
{
    font-family: Lobster;
    height: 5vh;
    width: 100vw;
    padding: 0.75vw;   
    text-align: center;
    color: white;
    font-size: 2vw;
    background-color: black;
    z-index: 20;

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 50% 50%;
}

.nav
{
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    justify-self: flex-start;
    align-self: center;

    cursor: pointer;
    font-size: 3vh;
    width: 10vw;
}

a
{
    text-decoration: none;
    color: white;
}

a:active :visited
{
    color: white;
}

a:hover
{
    text-decoration: underline;
}

.toptext
{
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;

    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.logout_btn
{
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    justify-self: right;
    align-self: center;
    width: 20vw;
}

.logt_btn:hover
{
    border: 0.25vh solid red;
    box-shadow: 0 4px 8px 0 red, 0 6px 20px 0 red;
}

.logt_btn
{
    height: 5vh;
    width: 10vw;
    background: white;
    border: 0.25vh solid black;
    font-weight: bold;
    font-family: Kaushan Script;
    font-size: 2.5vh;
    justify-self: center;

    align-content: center;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
}

.main
{
    margin-top: 10vh;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 70% 30%;
}

.error
{
    display: inline-block;
    color: white;
    font-size: 4vh;
    font-family: Kaushan Script;
    background: black;
    padding: 0.5vw;  
    width: 100%;
    margin-top: 2.5vh;
    text-align: center;
}

.form
{
    width: 100vw;
    padding: 2vw;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
}

.form_fill
{
    color: white;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.frame
{
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;

    position: fixed;
    top: 35vh;
    right: 1.5vw;
    height: 100%


}

iframe
{
    border: none;
    width: 30vw;
    height: 100%;
    color: white;
}

.head
{
    font-family: Charm;
    font-size: 2vw;
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    text-align: center;
    margin-bottom: 2vw;
    font-weight: bold;
    color: white;

    text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px darkred;
}

.admin_rad
{
    padding-right: 3vw;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    justify-self: right;

    font-family: Kaushan Script;
    color: white;
    font-size: 1.5vw;
    font-weight: bold;
}

#admin
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 1.75vh;
    height: 1.75vh;

    border: 0.20vh solid white;
    transition: 0.2s all ease-in;
    outline: none;
    margin-right: 0.25vw;
}

#admin:checked
{
    border: 0.50vh solid white;    
}

.partici_rad
{
    padding-left: 3vw;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    justify-self: left;

    font-family: Kaushan Script;
    color: white;
    font-size: 1.5vw;
    font-weight: bold;
}

#partici
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 1.75vh;
    height: 1.75vh;

    border: 0.20vh solid white;
    transition: 0.2s all ease-in;
    outline: none;
    margin-right: 0.25vw;
}

#partici:checked
{
    border: 0.50vh solid white;    
} 

.usr
{
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
    justify-self: center;
    padding-top: 2vw;
    padding-bottom: 1.5vw;
}

.psw
{
    grid-column: 1 / span 2;
    grid-row: 4 / span 1;
    justify-self: center;
    padding-top: 1.5vw;
}

.holder
{
    border-radius: 1vw;
    border: 0.15vw solid black;
    width: 50vw;
    height: 6vh;
    padding: 0.5vw;
    font-family: Charm;
    caret-color: black;
    font-size: 1.25vw;

    
}

.holder:focus
{
    outline: none;
    box-shadow: 0vh 0vh 0vh 0.25vh black;
    border: 0.15vw solid red;
}

.log_btn
{
    padding-left: 3vw;
    grid-column: 1 / span 1;
    grid-row: 5 / span 1;
    justify-self: right; 
}

.login
{
    background-color: black;
    color: white;
    border-radius: 2.5vh;
    border: 0.15vw solid red;
    cursor: pointer;
    margin: 3.5vw;
    width: 12vw;
    height: 7vh;
    font-size: 1.5vw;
    font-family: Kaushan Script;
}

.reg_btn
{
    padding-left: 3vw;
    grid-column: 2 / span 1;
    grid-row: 5 / span 1;
    justify-self: left;
}

.reg
{
    background-color: white;
    color: black;
    border: 0.2vw solid black;
    border-radius: 2.5vh;
    cursor: pointer;
    margin: 3.5vw;
    width: 12vw;
    height: 7vh;
    font-size: 1.5vw;
    font-family: Satisfy;
}

.btn
{
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;

    position: fixed;
    top: 35vh;
    right: 10vw;

    border: 0.25vh solid white;
    box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
}

.btn:hover
{
    border: 0.25vh solid red;
    box-shadow: 0 4px 8px 0 red, 0 6px 20px 0 red;
}

.buttn
{
    background: black;
    color: white;
    border: none;
    width: 5vw;
    height: 30vh;
    text-align: center;

    font-family: Pacifico;
    font-size: 2.5vh;
    display: inline-block;
    cursor: pointer;
}

button
{
    outline: none;
}

#admin1
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 1.75vh;
    height: 1.75vh;

    border: 0.20vh solid gray;
    transition: 0.2s all ease-in;
    outline: none;
    margin-right: 0.25vw;  
}

#admin1:checked
{
    border: 0.50vh solid white;    
}

.question_populate
{
    padding: 4vh;
    font-size: 3vh;
    font-family: Kaushan Script;
    
}

.options
{
    padding: 2vh;
    font-size: 2.5vh;

}

.main
{
    padding: 2vh;
}

.leaderboard
{
    font-family: Lobster;
    text-align: center;
    font-size: 5vh;

    padding: 2.5vw;
}

.hold
{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: auto;
}

.rank_1
{
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    justify-self: center;
    padding: 3vh;

    font-family: Satisfy;
    font-size: 4vh;
}

.user_1
{
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    justify-self: center;
    padding: 3vh;

    font-family: Satisfy;
    font-size: 4vh;
}

.pts_1
{
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    justify-self: center;
    padding: 3vh;

    font-family: Satisfy;
    font-size: 4vh;
}

table
{
    width: 93%;
    margin: auto;
}

tbody
{
    margin-right: 16vh;
    margin-left: 16vh;
}

tr
{
    text-align: center;
    border-bottom: 0.25vh solid black;
}

td
{
    align-content: center;
    font-family: Yanone Kaffeesatz;
    font-size: 3vh;
    padding: 1vh; 

    border-bottom: 0.25vh solid black;
}

.start
{
    margin-left: 8vh;
}

.end
{
    margin-right: 8vh;
}

#admin2
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 3.5vh;
    height: 3.5vh;

    border: 0.20vh solid gray;
    transition: 0.2s all ease-in;
    outline: none;
    margin-right: 0.25vw;box-shadow: 0vh 0vh 0vh 0.25vh black;
    border: 0.35vw solid red;
}

#admin2:checked
{
    border: 0.80vh solid white;    
}

.question_populate1
{
    padding: 4vh;
    font-size: 5vh;
    font-family: Kaushan Script;
    color: white;
    
}

.options1
{
    padding: 2vh;
    font-size: 4.5vh;

}
