<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="custom_leaderboard.css">
</head>

<body>

        <div class="main">

        <div class="hold">

        <div class="rank_1">#id</div>
        <div class="user_1">User</div>
        <div class="pts_1">Points</div>

        </div>

        <table>

                {% for user in users %}
                    <tr>
                        <td class="start">{{user.id}}</td>
                        <td>{{user.username}}</td>
                        <td class="end">{{user.points}}</td>
                    </tr>
                {% endfor %}


        </table>

        </div>

        
</body>
</html>